.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 48px;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.nav__list {
  display: flex;
  column-gap: 1rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--normal-font-size);
  color: beige;
  font-weight: var(--font-medium);
  transition: 0.3s;
  position: relative;
  text-transform: capitalize;
}

.nav__close,
.nav__toggle {
  display: none;
}

/* Breakspoints */
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
  .header {
    top: 0;
  }

  .nav {
    justify-content: center;
    margin: 0 16px; /* Mengatur agar elemen berada di tengah */
  }

  .nav__list {
    display: block;
    position: absolute;
    top: var(--header-height);
    right: 0; /* Letakkan navbar ke pojok kanan */
    width: 100%;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .show__menu {
    display: none;
  }
  .nav__link {
    padding: 0.5rem 0;
    text-align: start;
    width: fit-content;
  }

  .nav__logo {
    order: 1; /* Mengubah urutan elemen */
    margin-right: auto; /* Logo akan tetap di tengah */
    margin-left: auto; /* Logo akan tetap di tengah */
  }

  .nav__toggle,
  .nav__close {
    display: block;
    order: 2;
    font-size: 1.5rem; /* Mengubah urutan elemen */ /* Atur margin antara toggle/close dan logo */
  }

  .hide {
    display: none;
  }
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 350px) {
}
