.box__content {
  padding-top: 4rem;
}

.title__list {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: azure;

  padding: 5px;
}

.title__list h3 {
  font-size: var(--h3-font-size);
}

.page__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.page__btn a {
  padding: 5px 10px;
  background-color: bisque;
  margin: 0 5px;
  width: 80px;
  text-align: center;
  border-radius: 5px;
}

.box__list {
  padding: 10px;
  background-color: rgb(24, 26, 26);
  display: grid;
}

.box__list ul {
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.content__list {
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.anime__img {
  width: 100%;
  height: 250px;
  transition: 0.5s;
  display: block;
  object-fit: cover;
}

.anime__title {
  position: absolute;
  background-color: rgb(16, 17, 17);
  bottom: 0;
  width: 100%;
  padding: 10px 5px;
  opacity: 0.8;
}

.anime__title h4,
.anime__title span {
  color: rgb(255, 255, 255);
}

.anime__title h4 {
  text-wrap: nowrap;
  font-size: var(--normal-font-size);
}

.anime__title span {
  font-size: var(--smaller-font-size);
}

.anime__desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}
.play__icon {
  display: none;
}
.anime__link:hover .play__icon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(16, 17, 17);
  opacity: 0.4;
  justify-content: center;
  display: flex;
  align-items: center;
}

.anime__link:hover .anime__img {
  scale: 1.05;
}

/* Modal Hover */
.modal__hover {
  position: absolute;
  display: block;
  background-color: rgb(32, 32, 32);
  border: 1px solid black;
  padding: 10px;
  max-width: 400px;
  z-index: 999;
  height: auto;
}

.show-modal {
  display: block;
}

h4,
span,
p {
  color: aliceblue;
}

.modal__content {
  display: block;
}

.modal__title {
  margin-bottom: var(--mb-0-75);
}

.modal__info {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-0-5);
}

.info__type {
  background-color: rgb(84, 99, 99);
  padding: 2px 4px;
  border-radius: 5px;
}

.info__stars {
  fill: rgb(219, 136, 11);
  display: block;
  margin-right: 5px;
}

.info__score {
  margin-right: 20px;
}

.info__type {
  margin-left: auto;
}

.anime__synopsis {
  margin-bottom: var(--mb-0-5);
}

.anime__status {
  display: block;
}

.anime__status span {
  display: block;
  margin-bottom: 5px;
}
